{% extends 'main.html' %}

{% block main %}

{% if page == 'login' %}

<!-- login page -->

    <div>
        <form method="POST">
            {% csrf_token %}

            <label for="">Username</label>
            <input type="text" name="username" placeholder="Enter Username" name="" id="" />

            <label for="">Password</label>
            <input type="password" name="password" placeholder="Enter Password" name="" id="" />

            <input type="submit" value="Login" />
        </form>

        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>

    </div>

{% else %}

<!-- register page -->

    <div>
        <form method="POST">
            {% csrf_token %}

            {{form}}

            <input type="submit" value="Register" />
        </form>

        <p>Already signed up?</p>
        <a href="{% url 'login' %}">Login</a>

    </div>

{% endif %}

{% endblock main %}